@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url('/Asset/Images/headerimg.png');
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
    height: 100vh;
    /* border: 2px solid red; */
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo-text{
    font-size: 30px;
    font-weight: 600;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
    list-style: none;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: lightseagreen;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 10%;
    font-size: 30px;
}

.header-text h1{
    font-size: 135px;
    font-weight: 700;
    color: rgb(35, 151, 197);
}

.header-text h2{
    font-size: 125px;
    font-weight:700;
    margin-top:-50px;
    color:rgb(142, 140, 148);

}

.header-text>p:nth-of-type(1){
    color: #d1d0d0;
    font-size: 22px;
    font-weight: 600;
    margin-left: 5px;
    margin-top: 5px;
}

.header-text>p:nth-of-type(2){
    width:600px;
    font-size: 17px;
    margin-left: 5px;
    margin-top: -20px;
}

/* --------about me section--------- */

#about{
    padding: 50px 0;
    background-color: #121212;
    color: white;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 65px;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.about-title{
    font-size: 50px;
    font-weight: 600;
}

.sub-titles{
    display: flex;
    margin: 20px 0 40px;
}

.sub-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.sub-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: aqua;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.sub-links.active-link::after{
    width: 50%;
}

.sub-content ul li span{
    color: rgb(14, 156, 199);
    font-size: 17px;
    font-weight: 600;
}

.sub-content{
    display: none;
}

.sub-content>ul>li{
    margin-top: 13px;
}

.sub-content.active-content{
    margin-top: -10px;
    display: block;
}

/* -----service section------ */

#service{
    padding: 50px 0;
    background-color: #191919;
}

#service .container{
    height: 95vh;
}

.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 60px;
}

.service-title{
    font-size: 50px;
    margin-top: 20px;
    font-weight: 600;
}

.service-list div{
    background-color: #2B2B2B;
    border-radius: 25px;
    padding: 40px;
    font-weight: 300;
    transition: background 0.5s,transform 0.5s;
}

.service-list div i{
    font-size: 50px;
    margin-bottom: 20px;
}

.service-list div h2{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
}

.service-list div a{
    text-decoration: none;
    color: rgb(252, 249, 249);
    font-size: 18px;
    font-weight: 600;
    margin-top: 13px;
    display: inline-block;
}

.service-list div:hover{
    background-color: rgb(10, 169, 231);
    transform: translateY(-10px);
    color: #3b3b3b;
    font-weight: 400;
}

/* --------portfolio section-------- */

#portfolio{
    background-color: #121212;
    padding: 50px 0;
}

.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 60px;
}

.project img{
    width: 100%;
    height: 420px;
    display: block;
    transition: transform 0.5s;
}

.project{
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(29, 29, 29, 0.6),#38bffd);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 15px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 600;
    margin-bottom: 20px;

}

.layer a{
    margin-top: 20px;
    color: #413f3f;
    font-size: 18px;
    text-decoration: none;
    line-height: 60px;
    background-color: #b2b6b8;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.project:hover img{
    transform: scale(1.1);
}

.project:hover .layer{
    height: 100%;
}

/* --------contact me section-------- */


